<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>lab2</title>
    <script>
        const submit = () => {
            const chk = document.getElementById("chk").checked
            const sts = document.getElementById("sts")
            const fsts = document.getElementById("fetchSts")
            const sendTok = document.getElementById("sendTok").checked

            const url = chk ? "/user/delete/off" : "/user/delete/on"

            const hdrs = new Headers()
            if (sendTok) {
                hdrs.append("X-CSRF-TOKEN", "{{.Token}}")
            }

            fetch(url, { method: "DELETE", headers: hdrs })
            .then(res => {
                if (res.status === 200) {
                    sts.innerHTML = `<p>Probajte se ponovno <a href="/user/login">prijaviti</a> kako bi vidjeli promjene.</p>`
                }
                return res.json()
            })
            .then(data => {
                fsts.textContent = "Response: " + JSON.stringify(data)
            })
        }
    </script>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        background-color: #f0f0f0;
        color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    button {
        margin: 0.5rem 0;
        cursor: pointer;
        text-decoration: none;
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: #000000;
        font-size: 1.5rem;
        color: #ffffff;
    }

    .scale {
        transform: scale(1.5);
    }

    p {
        width: 80%;
        max-width: 800px;
    }
</style>
<body>
    <h3>CSRF</h3>
    <p>
        U sjednici se nalazi ID prijavljenog korisnika koji se koristi za brisanje korisnika
        iz baze podataka. Za korištenje napada potrebno je   i kliknuti na gumb Submit. Ukoliko
        je označena opcija korištenja csrf napada, tada će se poslati zahtjev na /user/delete/off
        koji ne koristi <em>middleware</em> za provjeru tokena u zaglavlju. Ukoliko je isključena
        opcija korištenja csrf napada, tada će se poslati zahtjev na /user/delete/on koji koristi
        <em>middleware</em> za provjeru CSRF tokena u zaglavlju.
    </p>
    <p>
        Dodatni checkbox omogućuje slanje pravog CSRF tokena u zaglavlju zahtjeva. Ukoliko je
        označen, tada će se poslati pravi CSRF token u zaglavlju zahtjeva. Ukoliko nije označen, u
        zaglavlju zahtjeva neće postojati CSRF token.
    </p>
    <label for="chk">Omogući CSRF (ne provjeravaj token u zaglavlju)</label>
    <input type="checkbox" class="scale" id="chk">
    <label for="sendTok">Pošalji pravi CSFR token</label>
    <input type="checkbox" class="scale" id="sendTok">
    <button onclick="submit()">Submit</button>
    {{ if ne .User "" }}
        <p>Prijavljeni ste kao: {{.User}}</p>
    {{ else }}
        <a href="/user/login">Niste prijavljeni, prijavite se.</a>
    {{ end }}
    <div id="fetchSts"></div>
    <div id="sts"></div>
</body>
</html>
